<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Files</key>
	<dict>
		<key>ACPI\SSDT-EC-USBX.aml</key>
		<data>
		mCrMDCo5wKgia2F5pGBHPVlScA4iCrirY3YO+ucCdv4=
		</data>
		<key>ACPI\SSDT-PM.aml</key>
		<data>
		65xCuQIc2KsDv1Hzfdf5GlD+ItB4PDm9TtY9/oeSAm8=
		</data>
		<key>Drivers\OpenHfsPlus.efi</key>
		<data>
		XUXmQJ4TwuuW1RYJ5/daFtD6BqlM+hfA4WNmjFcYPGE=
		</data>
		<key>Drivers\OpenRuntime.efi</key>
		<data>
		nZnMogsCT8SQEZqFHxvMaqrv4GlZuTfEYAnQoaQxnL4=
		</data>
		<key>Kexts\CpuTscSync.kext\Contents\Info.plist</key>
		<data>
		O3MbzCudCrPBGSYXUwat4pkFe3v6f6HSzzeVLT+lv/c=
		</data>
		<key>Kexts\CpuTscSync.kext\Contents\MacOS\CpuTscSync</key>
		<data>
		rIaTKEH3yCMZvLgUgjL5DfFROzpFDkEf7Fnf9PckMQ8=
		</data>
		<key>Kexts\Lilu.kext\Contents\Info.plist</key>
		<data>
		DbVNpptMrOIfXkglNnFW0VJ2NLCVQz33tcUdBJrsg4g=
		</data>
		<key>Kexts\Lilu.kext\Contents\MacOS\Lilu</key>
		<data>
		uTLHKTBkS6dvV8d6nR21ppJOr5FacW+6N0k302oSPTo=
		</data>
		<key>Kexts\RealtekRTL8111.kext\Contents\Info.plist</key>
		<data>
		ZnjOuUa6faplzjCTrmq0cuMW5edez6W0o3PZkFGnkLo=
		</data>
		<key>Kexts\RealtekRTL8111.kext\Contents\MacOS\RealtekRTL8111</key>
		<data>
		LiMFuytoDggdLRhFxeD2YXp/yZMEpsiP2+3IamgvvaI=
		</data>
		<key>Kexts\RealtekRTL8111.kext\Contents\Resources\en.lproj\InfoPlist.strings</key>
		<data>
		Oc8u4Ht7Mz58F50L9NeYpbcq9qTlhPUeZCcDu/pPyCg=
		</data>
		<key>Kexts\SMCProcessor.kext\Contents\Info.plist</key>
		<data>
		/vSix4rRzanmhNUHDAWCrxeLBwlBEClWS/1yNu9XNUU=
		</data>
		<key>Kexts\SMCProcessor.kext\Contents\MacOS\SMCProcessor</key>
		<data>
		HyTBapaCPbBJyNw4kZ7cFx0faV7IDIVgtIv9Uwul9B4=
		</data>
		<key>Kexts\SMCSuperIO.kext\Contents\Info.plist</key>
		<data>
		lfNnNVWB07QMM7xan5bj4QM3uWIdkYwv41RSgrFgKrg=
		</data>
		<key>Kexts\SMCSuperIO.kext\Contents\MacOS\SMCSuperIO</key>
		<data>
		FJvrHjHWenuz7LFnPjliCG+Vx4lhhGPmgLX/z+9jY/Y=
		</data>
		<key>Kexts\USBPorts.kext\Contents\Info.plist</key>
		<data>
		+Vl2jlx9lKFs7ulh/lccm2oYW6bTzk+z5TQtpDbD204=
		</data>
		<key>Kexts\VirtualSMC.kext\Contents\Info.plist</key>
		<data>
		mOcLT7e3b1WKMZCdvh6zlVg5MAPVNWxfd3se+/4E8eI=
		</data>
		<key>Kexts\VirtualSMC.kext\Contents\MacOS\VirtualSMC</key>
		<data>
		3Z3NSWcvdpzl9sRnOgst9tcDRY7c5HdbG2O2HvOylnQ=
		</data>
		<key>Kexts\WhateverGreen.kext\Contents\Info.plist</key>
		<data>
		Oi1HXc8BUbEXJktA3WLqt1sP4MRaltjKmrE7BPuCuaw=
		</data>
		<key>Kexts\WhateverGreen.kext\Contents\MacOS\WhateverGreen</key>
		<data>
		3wjJhsnp9LM1RbfdFSJ+W8TOfP1GaAeN8wxTGs8UNQ4=
		</data>
		<key>config.plist</key>
		<data>
		fSNUApmzzNDUA190RkfPviGFhNVhkdayHbzyR5H/m00=
		</data>
	</dict>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
